ENV=development
PORT=8811

POKEDEX_USERNAME=pokedex
POKEDEX_PASSWORD=pokedex

DATABASE_NAME=pokedex_development
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_POOL=50

DATABASE_TEST_NAME=pokedex_test
DATABASE_TEST_HOST=127.0.0.1
DATABASE_TEST_PORT=3306
DATABASE_TEST_USERNAME=root
DATABASE_TEST_PASSWORD=

RIAKCS_HOST=
RIAKCS_KEY=
RIAKCS_SECRET=
RIAKCS_BUCKET=decepticon

CDN_HOSTS=https://s1.gkkkb.com,https://s2.gkkkb.com,https://s3.gkkkb.com

BASE_PROJ_DIR=src/github.com/gkkkb/pokedex

GKKKB_ANDROID_APP_ID=
GKKKB_IOS_APP_ID=

API_TIMEOUT=3
